.name{
	background: url(../img/apple-computer-desk-159643.jpg) no-repeat#2e2e2e;
	background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
    /* padding: 80px 0; */
    z-index: 0;
	margin-top: 50px;
	text-align: center;
	height: 100%;
	opacity: .9;
	transition: .4s all;
	width: 100%;
}
.name:hover {

	transition: .4s all;
    opacity: 1;

}
.none{
	padding-top: 180px;
}
.name h1{
	padding: 10px 0;
    -webkit-user-select: none; /* Це для того, щоб користувачі не могли копіювати текст */
}
.name p{
	font-size: 210%;
	color: #E6E6E6;
	-webkit-user-select: none; /* Це для того, щоб користувачі не могли копіювать текст */
}
.name_con{
	position: sticky;
  top: 0;
}
p.slogan{
	font-size: 100%;
}
.about{
	padding-top: 40px;
	background: #E6E6E6;
	width: 100%;
	height: auto;
}

.about-us{
	width: 900px;
	margin: 0 auto;
	height: auto;
	padding: 50px 0 50px 0;
}
.about h1{
	text-align: center;
	color: #2E2E2E;
		padding: 0px;
}
.about img{
	width: 150px;
	height: 150px;
}
.about p{
	padding: 30px 10% 0 10%;
	color:  #2E2E2E;
}

.works{
	color:#F2F2F2;
	background: #A4A4A4;
	width: 100%;
	padding-top: 40px;
	padding-bottom: 115px;
}


.works h1{
	color:#F2F2F2;	
}
.works article{
	float: left;
}
.sayings{
	width: 100%;
	background: url(../img/myfreelancer.jpg) no-repeat;
	background-attachment: fixed;
    background-size: cover;
    background-position: ;
    padding: 150px 0;
    z-index: 0;
}
.contact-form{
	padding: 50px 0 30px 0;
	width: 800px;
	margin: 0 auto;
	height: 430px;
}
.contact{
	width: 100%;
	background: #1C1C1C;
}
.contact h1{
	padding-top: 10px;
	text-align: left;
	font-size: 160%;
}
.contact p{
	font-size: 90%;
	color: #A4A4A4;
	text-align: left;
	padding: 0 0 10px 10px ;
}
.contact-left{
	float: left;
	width: 57%;
	padding: 10px 0 10px 10px;
}
.contact-right{
	float: right;
	width: 30%;
	padding: 10px 10px 10px 0;
}
.con-right p{
	margin: 0;
}
.con-left{
	padding: 10px 0 10px 10px;
}
.footer{
	height: 70px;
	width: 100%;
	background: #000;
	color: #fff;
	text-align: center;
}
.footer p{
	font-size: 100%;
	padding-top: 25px;
}