.name{
	background: url(../img/apple-computer-desk-159643.jpg) no-repeat#2e2e2e;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50% 50%;
	/* padding: 80px 0; */
	z-index: 0;
	margin-top: 50px;
	text-align: center;
	height: 100%;
	opacity: .9;
	transition: .4s all;
	width: 100%;
}
.name:hover {

	transition: .4s all;
	opacity: 1;

}
.name .swipe-down{
	margin-top: 20%;
}
.none{
	padding-top: 180px;
}
.name h1{

	padding: 10px 0;
	-webkit-user-select: none; /* Це для того, щоб користувачі не могли копіювати текст */
}
.name p{
	font-size: 210%;
	color: #E6E6E6;
	-webkit-user-select: none; /* Це для того, щоб користувачі не могли копіювать текст */
}
.name_con{
	position: sticky;
	top: 0;
}
p.slogan{
	font-size: 100%;
}
.about{
	padding-top: 50px;
	background: #E6E6E6;
	width: 100%;
	height: auto;
}

.about-us{
	width: 900px;
	margin: 0 auto;
	height: auto;
	padding: 30px 0 15px 0;
}
.about h1{
	text-align: center;
	color: #2E2E2E;
	padding: 0;
}
.about img{
	width: 150px;
	height: 150px;
}
.about p{
	padding: 30px 10% 0 10%;
	color:  #2E2E2E;
}
.about .swipe-down{
	margin: 20px;
}

.about .swipe-down i, .works .swipe-down i {
	margin:0;
	-webkit-transition: .2s ease-out;
	-moz-transition: .2s ease-out;
	-o-transition: .2s ease-out;
		color: #2E2E2E;
}
.about .swipe-down i:hover, .works .swipe-down i:hover{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}
.works{
	color:#F2F2F2;
	background: #A4A4A4;
	width: 100%;
	padding-top: 40px;
}


.works h1{
	color:#F2F2F2;	
}
.works article{
	float: left;
}
.works .swipe-down i{
	color: #F2F2F2;
}
.works-con{
	padding-bottom: 25px;
}
.argument{
	width: 100%;
	background: url(../img/myfreelancer.jpg) no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: ;
	padding: 205px 0 55px 0;
	z-index: 0;
}
.argument h1{
	padding: 0;
	text-align: left;
	color:  #fff;
}
.argument p{
	font-weight: bold;
	padding: 0;
	padding-left: 150px;
	color: #fff;
	font-size: 120%;
}
.argument .p2{
	padding-left: 43%;
}
.argument .p3{
	padding-left: 64%;
}
.contact-form{
	padding: 50px 0 30px 0;
	width: 800px;
	margin: 0 auto;
	height: 430px;
}
.contact{
	width: 100%;
	background: #1C1C1C;
}
.contact h1{
	padding-top: 10px;
	text-align: left;
	font-size: 160%;
}
.contact p{
	font-size: 90%;
	color: #A4A4A4;
	text-align: left;
	padding: 0 0 10px 10px ;
}
.contact-left{
	max-width: 57%;
	float: left;
	width: 57%;
	padding: 10px 0 10px 10px;
}
.contact-right{
	max-width: 30%;
	float: right;
	width: 30%;
	padding: 10px 10px 10px 0;
}
.con-right p{
	margin: 0;
}
.con-left{
	padding: 10px 0 10px 10px;
}
.footer{
	height: 70px;
	width: 100%;
	background: #000;
	color: #fff;
	text-align: center;
}
.footer p{
	font-size: 100%;
	padding-top: 25px;
}