.header{
	display: block;
	float: left;
	width: 100%;
	height: 70px;
	background:#2E2E2E;
	position: fixed;  
	top: 0;  
	z-index: 1000;  
	box-shadow: #2E2E2E 0 0 25px 0 ;
}
.logo{
	margin-top: 10px;
	float: left;
	height: 50px;
	width: 300px;
}
.logo img{
	-moz-transition: all .5s ease-out;
 -o-transition: all .5s ease-out;
 -webkit-transition: all .5s ease-out;
	height: auto;
	width: 100%;
}
.logo img:hover{
	-webkit-transform: scale(1.05);
 -moz-transform: scale(1.05);
 -o-transform: scale(1.05);
}
.menu{
	float: right;
	width: 430px;
	padding-top: 25px;	
	background: #2E2E2E;
}
.menu ul{
	list-style-type: none;
	padding-right: 50px;
	float: right;
}
.menu ul li{
	font: normal 110% 'century gothic', arial;
	display: inline;
	padding-right: 20px;
	
}
.menu ul li a{
	display: inline-block;
	color: #E6E6E6;
	font-weight: bold;
	position:relative;
	line-height: 1;
	transition: all .5s;
}
.menu ul li a:hover, .menu ul li a:focus{
	color: #00BFFF;
}
.menu ul li a:after {
	margin-top: 23px;
    background-color: #00BFFF;
    content: "";
    height: 3px;
    display: block;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}
.menu a:hover:after,
.menu a:focus:after {
    margin-top: 23px;
    width: 100%;
}

.langbar{

	cursor: pointer;
	margin: 25px 0 0 30px;
	float: left;
	color: #E6E6E6;
	font: normal 90% 'century gothic', arial;
}
.langbar li button{
	color: #E6E6E6;
	font: normal 90% 'century gothic', arial;
	background: none;
	border: none;

	cursor: pointer;
	list-style-type: none;
		transition: .2s all;
}
.langbar li{

	padding: 10px 10px;
	list-style-type: none;
}
.langbar li button:hover{
	color: #0080FF;
}
ul.sub-lang{
		margin-left: 20px;
		border-radius: 5px;
	background: #2E2E2E;
	 position: absolute;  
	 max-height:0px;
    overflow:hidden;
    -webkit-transition:max-height 0.5s linear;
    -moz-transition:max-height 0.5s linear;
    transition:max-height 0.5s linear;
}

ul.lang:hover ul.sub-lang{
	max-height:300px;


}
