#p_prldr{
position: fixed;
left: 0;
top: 0;
right:0;
bottom:0;
background: #2E2E2E;
z-index: 30;
}
#p_prldr img{
	width: 100px;
	height: 70px;
} 
.contpre small{font-size:25px;}
 
.contpre{
width: 250px;
height: 100px;
position: absolute;
left: 50%;top: 48%;
margin-left:-125px;
margin-top:-75px;
color:#fff;
font-size:40px;
letter-spacing:-2px;
text-align:center;
line-height:35px;}
 
#p_prldr .svg_anm {
position: absolute;
width: 41px;
height: 41px;
background: url(images/oval.svg) center center no-repeat;
background-size:41px;    
margin: -16px 0 0 -16px;}

.ip-header {
    position: fixed; /* фиксированное позиционирование */
    top: 0; /* указывая 0 (ноль), мы "прижимаем" к верху этот блок */
    z-index: 100; /* позиционирование по оси Z */
    min-height: 480px; /* минимальная высота блока */
    width: 100%; /* ширина блока на всю ширину экрана */
    height: 100%; /* высота блока на всю высоту экрана */
    background: #f1f1f1; /* фоновый цвет */
}