*{
	margin: 0;
	padding: 0;
}
html, body{
	height: 100%;
}
div{
	display: block;
}

h1{
	font: normal 310% 'century gothic', arial;
	color: #E6E6E6;
	text-align: center;
	padding: 50px 0 10px 0;
}
p{
	font: normal 110% 'century gothic', arial;
	padding: 0 100px;
}
a{
	text-decoration: none;
}
.content{
	width: 1000px;
	margin: 0 auto;
}
span.tel{
	margin-top: -7px;
	cursor: pointer;
	float: right;
	text-align: center;
	height: 30px;
	width: 30px;
	border-radius: 100%;
	border: 1px solid #00BFFF;	
	transition: all .5s;
}
span.tel:hover{
	background: #00BFFF; 	

}
span.tel i.phone{
	color: #00BFFF;
	padding-top: 7px;
	transition: all .5s;
}
span.tel:hover i.phone{
	color: #fff;
}

.tel:before,
.tel:after{
	margin: auto;

	display: block;
	position: absolute;
	visibility: hidden;
	opacity: 0;
	margin-top: 20px;

	-webkit-transition: .4s all;
	-moz-transition: .4s all;
	transition: .4s all;
}
.tel:before{
	width: 160px;
	padding: 1%;
	color: #fff;
	content: attr(data-title);
	background: rgba(0, 0, 0, .64);
	top: 70px;
	border-radius: 5px;
	margin-left: -100px;
	text-align: center;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.tel:hover:before,
.tel:hover:after{
	margin-top: 0;
	visibility: visible;
	opacity: 1;
}
.circle-block{
	margin-top: 50px;
	text-align: center;
	float: left;
	width: 33.333335%;
	height: 200px;
}
.circle-block p{

	font-weight: bold;
}
.about-bottom{
	text-align: center;
}
.circle{
	-moz-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	-webkit-transition: all .5s ease-out;
	margin-left: 32.333335%;
	width:100px;
	height:100px;
	display:block;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	-khtml-border-radius:50px;
	font-size:40px; 
	color: #2E2E2E;
	line-height:100px;
	text-align:center;
	border: 2px solid  #2E2E2E;
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);

}
.circle:hover{
	-webkit-transform: scale(1.2) rotate(360deg);
	-moz-transform: scale(1.2) rotate(360deg);
	-o-transform: scale(1.2) rotate(360deg);
}
.pa-g{
	padding-top: 29%;
}
.circle-opis{
	font: normal 110% 'century gothic', arial;
}

.up-works-block ul,
.up-works-block li{
	list-style-type: none;
}
.up-works-block li{
	position: relative;
	
	margin-left: 25px;
	display: inline-block;
	width: 300px;
	height: 300px;
}
.image {
	overflow:hidden;
}
.up-works-block img{
	-moz-transition: all 1s ease-out;
	-o-transition: all 1s ease-out;
	-webkit-transition: all 1s ease-out;
	max-width: 100%;
	height: 100%;
	display: block;
	border-radius: 5px;
}
.descr:hover .image img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transform: scale(1.1);
}

.descr{
	border: 1px solid silver;
	border-spacing: 2%;
	border-radius: 5px;
	font: normal 100% 'century gothic', arial;
	color: #F2F2F2;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height:67%;
	background-color: rgba(0,0,0, .7);
	padding-top: 100px;
	text-align: center;
	opacity: 0;
	-webkit-transform: scale(0) rotate(90deg);
	-moz-transform: scale(0) rotate(90deg);
	-o-transform: scale(0) rotate(90deg);
	-webkit-transition: all .5s;
	-moz-transition: all .5s;
	transition: all .5s;
}
.up-works-block li:hover .descr{
	-webkit-transform: scale(1) rotate(0deg);
	-moz-transform: scale(1) rotate(0deg);
	-o-transform: scale(1) rotate(0deg);
	opacity: 1;
}
.up-works-block p{
	font-size: 100%;
	padding: 0 10px;
}
.works p.opis-works{
	padding-bottom: 40px;
	text-align: center;
	font-size: 140%;
}

.contact input{
	color: #fff;
	width: 47.1%;
	padding: 1.5%;
	border: 0px;
	border-radius: 5px;
	background: #000;
	opacity: .6;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}
.contact input[type="submit"]{
	padding: 1.5%;
	background: #FA5858;
	color: #fff;
	width: 30%;
	cursor: pointer;
}
.contact input[type="submit"]:hover{
	background: #f43434;
}
.contact textarea{
	max-height: 165px;
	color: #fff;
	width: 95%;
	padding: 1.5%;
	border: 0px;
	border-radius: 5px;
	background: #000;
	opacity: .7;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}
.contact input:focus, .contact textarea:focus{
	opacity: 1;
	outline: none;
}
.contact a, .contact ul{
	font: normal 100% 'century gothic', arial;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
	color: #A4A4A4;
}
.contact a i {
	margin-right: 10px;
}
.contact ul{
	width: 120px;
	list-style-type: none;
	cursor: pointer;
}
.contact a:hover, .contact ul:hover{
	color: #0080FF;
}

.contact .fab{
	font-size: 140%;
	border: 0;
	color: #fff;
	border-radius: 100%;
	display: inline-block !important;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align: center;
	padding: 0;
}
i.fab:hover{
	opacity: .6;
}
.fa-telegram-plane{
	background: #0088cc;
}
.fa-viber{
	background: #59267c;
}
.fa-skype{
	background: #00aff0;
}



ul.save-right{

	cursor: pointer;
}
li.hover-save{
	position: relative;
}
ul.subsave{
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	transition: all .2s;
	background: #1C1C1C;
	margin-left: 40px;
	width:150px;  
	height: 50px;
	position: absolute;  
	z-index: 200;
	visibility: hidden;
	opacity: 0;
}
ul.save-right:hover ul.subsave{
	opacity: 1;
	visibility: visible;
}


.photobox__label{
	font: normal 100% 'century gothic', arial;
	color: #fff;
}
.photobox{
	display: inline-block;
}

.photobox__previewbox{
	position: relative;
	overflow: hidden;
}

.photobox__preview{
	display: block;
	max-width: 100%;
}

.photobox__previewbox:before{
	content: "";
}


.photobox_type9 .photobox__previewbox:before{
	width: 0;
	height: 0;
	padding: 25%;

	background-color: var(--photoboxOverlay, rgba(0, 0, 0, .8));
	border-radius: 50%;

	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 2;

	transition: transform calc(var(--photoboxAnimationDuration, 1s) / 2) ease;
	will-change: transform;
	transform: translate(-50%, -50%) scale(0);
}

.photobox_type9:hover .photobox__previewbox:before{
	transform: translate(-50%, -50%) scale(4);
	transition-duration: var(--photoboxAnimationDuration, .8s);
}

.photobox_type9 .photobox__label{
	width: 95%;
	text-align: center;

	opacity: 0;  
	transition: opacity calc(var(--photoboxAnimationDuration, 1s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9), transform calc(var(--photoboxAnimationDuration, 1s) / 4) cubic-bezier(0.71, 0.05, 0.29, 0.9);
	will-change: opacity, transform;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, 200%);
	z-index: 3;
}

.photobox_type9:hover .photobox__label{
	opacity: 1;
	transform: translate(-50%, -50%);
	transition-duration: calc(var(--photoboxAnimationDuration, 1s) / 2);
	transition-delay: calc(var(--photoboxAnimationDuration, .8s) / 4);
}

.photobox_type9 .photobox__preview{
	transition: transform calc(var(--photoboxAnimationDuration, 1s) / 2) cubic-bezier(0.71, 0.05, 0.29, 0.9);
	will-change: transform;
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-o-transform: scale(1);
}

.photobox_type9:hover .photobox__preview{
	-webkit-transform: scale(1.2);
	-moz-transform: scale(1.2);
	-o-transform: scale(1.2);
}

.swipe-down{
	text-align: center;
	height: 50px;
	margin-top: 40px;
}
.swipe-down i{
	color: #fff;
	font-size: 230%;
}

/* адмін сторінка */
.unread{
	background-color: #f4f3f3;
}
.read{
	background-color: #fff;
}
.position-table{
	margin-top: 100px;
}
.admin-page table{
	width: 100%;
	border: 1px solid silver;
	border-collapse: collapse;
}
.admin-page table tr{
	cursor: pointer;
}
.admin-page table td{
	border: 1px solid silver;
	padding: 5px 10px;
}
tr:hover, .table-top:not(:hover){
	background-color: #e2e2e2;
}
.message-block{
	border: 1px solid silver;
	padding: 2%;
}
.left-position{
	float: left;
}
.right-position{
	float: right;
}
/* кінець адмін */
/* Блок авторизації */
div.authorization-block{
	background: #1C1C1C;
	padding: 2%;
	width: 30%;
	margin: 130px auto;
	text-align: center;
	border-radius: 5px;
	-webkit-box-shadow: 1px 1px 30px 0px rgba(48, 50, 50, 1);
	-moz-box-shadow:    1px 1px 30px 0px rgba(48, 50, 50, 1);
	box-shadow:         1px 1px 30px 0px rgba(48, 50, 50, 1);
}
div.authorization-block img{
	max-width: 20%;
	margin-bottom: 30px;
}

div.authorization-block input{
	color: #fff;
	width: 60%;
	max-width: 100%;
	padding: 1.5%;
	border: 0px;
	border-radius: 5px;
	background: #000;
	opacity: .5;
	-webkit-transition: all .4s;
	-moz-transition: all .4s;
	transition: all .4s;
}
div.authorization-block input[type="submit"]{
	padding: 1.5%;
	background: #FA5858;
	color: #fff;
	width: 30%;
	cursor: pointer;
	opacity: .8;
}
div.authorization-block input[type="submit"]:hover{
	background: #f43434;
}

div.authorization-block input:focus{
	opacity: 1;
	outline: none;
}

.authorization-error{
	background-color: red;
	text-align: center;
	margin: 0 auto;
	color: #fff;
	width: 140px;
	padding: 10px 5px;
	border-radius: 0 0 5px 5px;
	font: normal 90% 'century gothic', arial;
}
/* кінець авторизації */
/* мобільна версія авторизації */
@media screen and (max-device-width: 1024px){
	div.authorization-block p{
		font-size: 270%;
	}
	div.authorization-block{
		width:  800px;
		padding: 150px 0;
		border-radius: 20px;
	}
	div.authorization-block img{
		width: 90%;
		margin: 20px auto;
	}
	div.authorization-block input[type="text"], input[type="password"] {
		width: 80%;
		padding: 20px;
		font-size: 40px;
		border-radius: 10px;
	}
	div.authorization-block input[type="submit"]{
		width: 30%;
		font-size: 50px;
		padding: 10px;
		border-radius: 10px;
	}
	.authorization-error{
	width: 440px;
	font: normal 250% 'century gothic', arial;
	}
}
/* кінець мобільної версії авторизації */
